@tailwind base;
@tailwind components;
@tailwind utilities;


.text-2xs {
  font-size: 0.625rem;
  line-height: 0.85rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

/*Added icon sizes for Material icons*/
.size-20 {
  font-size: 20px;
  font-variation-settings: 'OPSZ' 20;
}

.size-24 {
  font-size: 24px;
  font-variation-settings: 'OPSZ' 24;
}

.size-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
}

.size-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
}
